:root {
    --bg: radial-gradient(circle, rgba(var(--cn3)) 16%, rgba(var(--cn4)) 100%);
    --font: #e1e1e1;
    --font-op: #252525;
    --gray: rgba(37, 36, 36, 0.9);
    --grayl: rgba(102, 101, 101, 0.2);

    --success: rgb(107, 248, 107);
    --green: rgb(78, 150, 78);
    --error: rgb(248, 107, 107);
    --red: rgb(254, 86, 86);


    --anim: rgba(222, 222, 222, 0.6);
    
    /* Colors */
    --c0: rgb(0, 166, 251);
    --c1: rgb(5, 130, 202); 
    --c2: rgb(0, 100, 148);
    --c3: rgb(0, 53, 84);
    --c4: rgb(23, 24, 25);
    --c5: rgb(15, 18, 20);

    /* Color Opaque */
    --co0: rgb(0, 166, 251, 0.6);
    --co1: rgb(5, 130, 202, 0.6); 
    --co2: rgb(0, 100, 148, 0.6);
    --co3: rgb(0, 53, 84, 0.6);
    --co4: rgb(23, 24, 25, 0.6);
    --co5: rgb(15, 18, 20, 0.6);

    /* Color Numbers */
    --cn0: 0, 166, 251;
    --cn1: 5, 130, 202;
    --cn2: 0, 100, 148;
    --cn3: 0, 53, 84;
    --cn4: 5, 25, 35;
    --cn5: 2, 20, 29;


}